<div class='row'>
    <div class='col-xs-8 col-xs-offset-2'>
        <form name="fc.form" novalidate ng-submit="fc.submitForm()">
            <div class="form-group">
                <label for="topic">Topic</label>
                <input name="topic" class="form-control" ng-model="fc.formData.topic" />
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <input name="category" class="form-control" ng-model="fc.formData.category" />
            </div>
            <div class="form-group">
                <label for="displayOrder">Display Order</label>
                <input type="number" class="form-control" name="displayOrder" ng-model="fc.formData.displayOrder" />
            </div>
            <div class="button-group">
                <input type="submit" class="btn btn-succes" name="submitBtn" value="Submit" />
                <input type="button" class="btn btn-warn" name="cancelBtn" value="Cancel" ng-click="fc.cancelForm()" />
                <input type="button" class="btn btn-danger" name="resetBtn" value="Reset" ng-click="fc.resetForm()" />
            </div>
        </form>
    </div>
</div>